# Core functionality - changes here should be rare!
/src/app.py                   @farkasf
/src/backend/database.py      @farkasf
/src/backend/routers/auth.py  @farkasf

# The frontend will need refactored soon to be more object oriented.
/src/static/   @farkasf
